*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F06067;
}

.container{
    width: 100%;
    padding: 2em 1.5em;
    background-color: #fff;
    border-radius: 20px;
    margin: 5vh auto;
}

table {
    width: 100%;
}